/* #region debug style*/
.debug * {
    border: 1px dashed white;
}

.debug header {
    background-color: blue;
}

.debug main {
    background-color: red;
}

.debug footer {
    background-color: green;
}


.debug .container {
    min-height: 100px;
    background-color: orange;
    padding: 0 10%;
}

.debug .banner-container {
    min-height: 100px;
    background-color: black;
}

.debug .flex-card {
    min-height: 100px;
    background-color: pink;
}

.debug div>* {
    min-height: 100px;
    width: 100px;
    background-color: blueviolet;
}



/* #endregion debug style*/

/* #region Palette*/

:root {
    --ds-primary: #7288d9;
    --ds-secondary: #23272a;
    --ds-header-bg: #3161e0;
    --ds-footer-bg: #23272a;
    --ds-card-bg: white;
    --ds-darkcard-bg: #f6f6f6;
}

/* #endregion Palette*/
/* #region Common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 1680px;
    min-height: 5076px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1680px;
    margin: 0 auto;
    padding: 0px 238px;
}

.lighbox{
    background-color: var(--ds-card-bg);
}

.darkbox{
    background-color: var(--ds-darkcard-bg);
}
.flex-card {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ds-card-bg);
    color: var(--ds-footer-bg);
}


.reverse {
    flex-direction: row-reverse;
    background-color: var(--ds-darkcard-bg);
}

button {
    border-style: hidden;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    margin: 0.2rem 0;
}

h2 {
    font-size: 50px;
}

p {
    padding: 2rem 0rem;
    font-size: 20px;
    line-height: 1.75rem;
}

/* #endregion Common*/

/* #region Header*/
header {
    background-color: var(--ds-header-bg);
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

#menu {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--ds-darkcard-bg);
}

#login {
    background-color: var(--ds-card-bg);
}

/* #endregion Header*/

/* #region Main*/

/* #region Banner*/
.banner-container {
    max-width: 1680px;
    margin: 0 auto;
    min-height: 556px;
    display: flex;
    align-items: center;
    background-image: url("./img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--ds-darkcard-bg);
}

.banner-container section {
    text-align: center;
}

.banner-container h2 {
    line-height: 7rem;
}

.banner-container p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding: 0rem 7.5rem;
}

#btn-download {
    background-color: var(--ds-card-bg);

}

#btn-openbr {
    background-color: var(--ds-secondary);
    color: var(--ds-darkcard-bg);
}

#arrow {
    vertical-align: baseline;
    font-weight: bold;
    padding-right: 0.2rem;
}

/* #endregion Banner*/

.flex-card>img {
    max-width: 715px;
    
}

.descr { 
    max-width: 370px;
    padding-top: 110px;
}

/* #endregion Main*/

/* #region Footer*/
/* #endregion Footer*/