/* #region debug style*/
.debug * {
    border: 1px dashed white;
}

.debug header {
    background-color: blue;
}

.debug main {
    background-color: red;
}

.debug footer {
    background-color: green;
}


.debug .container {
    min-height: 100px;
    background-color: orange;
    padding: 0 10%;
}

.debug .banner-container {
    min-height: 100px;
    background-color: black;
}

.debug .flex-card {
    min-height: 100px;
    background-color: pink;
}

.debug div>* {
    min-height: 100px;
    width: 100px;
    background-color: blueviolet;
}



/* #endregion debug style*/

/* #region Palette*/

:root {
    --ds-primary: #7288d9;
    --ds-secondary: #23272a;
    --ds-header-bg: #3161e0;
    --ds-footer-bg: #23272a;
    --ds-card-bg: white;
    --ds-darkcard-bg: #f6f6f6;
}

/* #endregion Palette*/
/* #region Common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 1680px;
    min-height: 5076px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.flex-card {
    display: flex;
    justify-content: center;
}

.reverse {
    flex-direction: row-reverse;
}
button{
    border-style: hidden;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    margin: 0.2rem 0;
}



/* #endregion Common*/

/* #region Header*/
header {
    background-color: var(--ds-header-bg);
}

.flex-header {
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--ds-darkcard-bg);
}

#login {
    background-color: var(--ds-card-bg);
}

/* #endregion Header*/

/* #region Main*/

.banner-container {
    padding-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 7%;
    background-image: url("./img/jumbo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--ds-darkcard-bg);
}

section {
    text-align: center;
}

h2 {
    font-size: 42px;
    line-height: 7rem;
}

p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
#btn-download{
    background-color: var(--ds-card-bg);
   
}

#btn-openbr{
    background-color: var(--ds-secondary);
    color: var(--ds-darkcard-bg);
}

#arrow {
    vertical-align: middle;
}

.flex-card>img {
    width: 60%;
}

.flex-card>section {
    width: 40%;
}

/* #endregion Main*/

/* #region Footer*/
/* #endregion Footer*/